* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


.form_wrapper {
    width: 70%;
    margin: auto;
    border: 1px solid;

    /* padding: 2%; */
}


.form_detail_wrapper {
    width: 80%;
    margin: 15px auto;
    /* border: 1px solid; */
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.form_detail_label {
    width: 20%;
}
.form_detail, .form_btn {
    height: 100%;
    padding: 0.5rem;
    width: 10%;
}

.form_detail {
    width: 70%;
}

/* UTILITY STYLES */

li {
    list-style-type: none;
}

.all_borders {
    border: 1px solid;
    min-height: 50px;
}

.logo-container {
    background-color: #8d297e;
    color: #fff;
}
.north_lab_header a{
    color: #fff;
}

.nav-list, .launch_btn, .card-group.footer_bg  .card.footer_bg, .test_title  {
    background-color: #79256a;
    color: #fff;

}
.launch_btn:hover {
    cursor: pointer;
}
