* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    --DEFAUT-BORDER: 1px solid;

}
 main {
    background: url(../);
 }
/* UTILITY STYLES */
.all_borders {
    /* border: var(--DEFAUT-BORDER); */
    min-height: 50px;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
}
a.active {
    color: #ff0000;
}
/* END OF UTILITY STYLES */

.header_logo_container {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
img {
    
    width: 100%;
    height: 100%;
}



.logo_container {
    width: 20%;
    height: 150px;
}

.logo_text {
    width: 80%;
    font-size: 4.5rem;

}

.navigations {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    font-size: 1.8rem;
}

.navigations > .nav_item{
    width: 25%;
    border: var(--DEFAUT-BORDER);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_container {
    width: 100%;
}

.homePage_img_container {
    display: flex;
    justify-content: space-between;
    /* height: 400px; */
    
}

.magical_world_img {
    display: inline-block;
    width: 50%;

}

.mice_people_footer {
    border-top: 3px solid;
}
.magical_world_text_wrapper {
    width: 50%;
    padding: 20px;
}
.magical_world_text{
    padding: 20px;
}
.item {
    list-style-type: disc;
    list-style-position: inside;
}
.hist_cheese_text {
    padding: 20px 0;
}


/* OTHER PAGES FOR MAGICAL WORLD CHEESE PAGE */

.main_wrapper{
    width: 95%;
    margin: auto;
    padding: 2%;
}

.jokes_cheese_card_container {
    display: flex;
    padding: 10px 0;

}

.jokes_cheese_card {
    width: 33%;
    margin: auto;
    padding: 5px 10px 5px 0;
}
.jokes_cheese_card .card_heading {
    padding: 20px 0 20px 0;
    /* border: 1px solid; */

}

.jokes_cheese_img {
    /* display: inline-block; */
    width: 100%;
    height: 200px;
}


/* HELP WITH CHEESE PAGE */

.help_cheese_card_wrapper {
    width: 80%;
}

.help_cheese_form > .form_detail_wrapper {
    margin: 20px auto;
}
.help_cheese_form > .form_detail_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bolder;
    
}
.help_cheese_form > .form_detail_wrapper > label {
    width: 30%;

}
.help_cheese_form > .form_detail_wrapper > .form_detail {
    width: 60%;
    padding: 10px;

}
.fName, .email_address {
    height: 40px;
}



/* MEDIA QUERY FOR VARIOUS SCREEN SIZES */
@media screen and (max-width: 900px) {
    .logo_text {
        width: 80%;
        font-size: 3rem;
    }

    .navigations {
        flex-direction: column;
    }

    .navigations {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    font-size: 1.8rem;
}

.navigations > .nav_item {
    width: 100%;
    margin: auto;
    padding: 20px;
}
    .main_container {
        height: fit-content;
    }
    .homePage_img_container {
        flex-direction: column;
    }
    .magical_world_img, .magical_world_text_wrapper{
        width: 80%;
        margin: auto;
    }
   
}

@media  screen and (max-width: 768px) {

    .logo_container {
        width: 30%;
    }
    .logo_text {
        width: 70%;
        font-size: 2rem;
    }

    
    
}

@media screen and (max-width: 576px) {
    .jokes_cheese_card_container {
        flex-direction: column;
    }
    
    .jokes_cheese_card {
        width: 100%;
        margin: auto;
    }
    .help_cheese_card_wrapper {
        width: 100%;
    }
    .jokes_cheese_img {
        width: 100%;
        height: fit-content;
        /* display: block; */
        margin: 20px auto;
    }
    /* HELP WITH CHEES PAGE*/
    .help_cheese_form > .form_detail_wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .help_cheese_form > .form_detail_wrapper > label {
        width: fit-content;
    }
    .help_cheese_form > .form_detail_wrapper > .form_detail {
        width: 80%;
    }

    .help_cheese_form > .form_detail_wrapper > .fav_cheese_detail_wrapper {
        width: fit-content;
        margin-top: 20px;
    }
}