* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    justify-content: space-between;
}
.grid-66 {
    width: 66%;
    min-height: 70vh;
    border: 1px solid;
}
.grid-33 {
    border: 1px solid;
    min-height: 70vh;
    width: 66%;
}

iframe {
    width: 95%;
    margin: auto;
}

